body{
	background-color: #5D5D56
}

p{
	background-color: lightgray;
}

h1{
	font-style: italic;
}

li{
	list-style: none;
	display: inline-block;
	font-size: 32px;
}

header{
	text-align: center;
	font-weight: bo
}


